# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: 'fix'
      prefix-development: 'ci'
    labels:
      - 'dependencies'
    open-pull-requests-limit: 10
    pull-request-branch-name:
      separator: '-'
    rebase-strategy: 'auto'
    # allow:
    #   - dependency-name: "warframe-worldstate-data"
    #   - dependency-name: "warframe-worldstate-parser"
    #   - dependency-name: "warframe-public-export-plus"

