name: Release

on:
  push:
    branches:
      - master

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      pull-requests: write
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: yarn dtsc
      - run: yarn add @semantic-release/commit-analyzer
      - run: yarn add @semantic-release/release-notes-generator
      - run: yarn add @semantic-release/changelog
      - run: yarn add @semantic-release/git
      - run: yarn add @semantic-release/github
      - run: yarn add @semantic-release/npm
      - run: yarn add conventional-changelog-conventionalcommits
      - name: Semantic Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
